.navBar {
    background-color: cadetblue;
    display: flex;
    gap: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    margin: 0px;
}

.navBar ul,
li,
a {
    list-style: none;
    display: inline-block;
}

* {
    font-family: "calibri", monospace, sans-serif;
    margin: 0;
    padding: 0;
}

.navBar a:hover {
    background-color: green;
    font-weight: bolder;
}

.navBar a {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

body {
    background-color: #f4f4f4;
    font-family: "Calibri", sans-serif;
    color: #333;
}

.analysis h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.analysis #dateRangeForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
    border: 2px solid #01283b;
    background-color: white;
    align-items: baseline;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #01283b;
}

.analysis #dateRangeForm label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-right: 0px;
    padding-right: 0px;
    display: inline-block;
}

.analysis #dateRangeForm input[type="date"] {
    width: auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    display: inline-block;
}

.analysis #dateRangeForm button {
    width: 15%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.analysis #dateRangeForm button:hover {
    background-color: #4cae4c;
}

.analysis #results {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.analysis div#results h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.analysis div#results p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}



#myChart {
    max-width: 50%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Adjust the canvas size to fit its container */
#myChart canvas {
    width: 100% !important;
    height: auto !important;
    border-radius: 8px;
}

/* Style for the chart title */
#myChart .chart-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    padding: 20px 0;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
}

/* Style for the chart legend */
#myChart .chart-legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#myChart .chart-legend li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#myChart .chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
}

/* Style for the tooltip */
#myChart .chart-tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

#myChart .chart-tooltip.active {
    opacity: 1;
}