*{
    font-family: "Kode Mono", monospace, sans-serif;
    margin: 0;
    padding: 0;
}
.navBar{
    background-color: #0288d1;
    display: flex;
    gap: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10px; 
    height: 50px;
}

.navBar ul,li, a{
    list-style: none;
    display: inline-block;
}

.navBar a{
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.navBar a:hover{
    background-color: green;
    font-weight: bolder;
}


.addExpense{
    position: relative;
    border: 1px solid #01283b;
    margin: 20px;
    padding: 10px;
    display: block;
    max-width: 20%;
    border-radius: 5px;
    min-height: 310px;
    max-height: 30%;
    left: 5%;
    display:none;
}

.addExpense input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fafafa;
}

.addExpense select{
    background-color: #fafafa;
}

.addExpense #submitExpense{
    padding: 10px;
    background-color: #0288d1;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 20%;   
    display: block;
    border-radius: 5px;
}

.addExpense label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.addExpense #addExpenseHead{
    display: flex;
    justify-content:space-between;
}
.addExpense h2{
    margin-bottom: 8px;
}

.addExpense #toggleIncome{
    background-color: rgb(6, 203, 6);
    padding: 5px;
    border-radius: 6px;
    font-weight: 600;

}

.addIncome{
    position: relative;
    border: 1px solid #01283b;
    margin: 20px;
    padding: 10px;
    display: block;
    max-width: 20%;
    border-radius: 5px;
    min-height: 310px;
    max-height: 30%;
    left: 5%;
    display:block;
}
.addIncome input{
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    background-color: #fafafa;
}


.addIncome #submitIncome{
    padding: 10px;
    background-color: #0288d1;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 20%;   
    display: block;
    border-radius: 5px;
}

.addIncome label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.addIncome #addIncomeHead{
    display: flex;
    justify-content:space-between;
}
.addIncome h2{
    margin-bottom: 8px;
}

.addIncome #toggleExpense{
    background-color: rgb(234, 75, 75);
    padding: 5px;
    border-radius: 6px;
    font-weight: 600;
}




.sidebar{
    background-color: slategray;
    color: #ffffff;
    padding: 10px;
    width: 13%;
    position: fixed;
    height: 100%;
    top: auto;
    left: 0;
}

.sidebar h2{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}


.sidebar a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.mainContent{
    position: fixed;
    left: 14%;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 15%;
    background-color: #eeecec;
}

.expenseRecord{
    border: 1px solid #01283b;
    margin: 20px;
    padding: 10px;
    display: block;
    min-width: 30%;
    border-radius: 5px;
    height: fit-content;
    padding-bottom: 50px;
}

.expenseRecord h2{
    margin-bottom: 20px;
    text-align: center;
}

.expenseRecord table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.expenseRecord table, th, td{
    border-bottom: 1px solid #01283b;
    padding: 10px;
    text-align: center;
}

.totalView{
    position: absolute;
    top: 400px;
    left: 5%;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.totalView div{
    border: 1px solid #01283b;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
}
.totalView h2{
    margin-bottom: 10px;
    border-bottom: 1px solid #01283b;
}
.totalView .totalExpense{
    color: red;
}

.totalView .totalIncome{
    color: green;
}

.totalView .spendable{
    color: blue;
}




.footer{
    position: absolute;
    top: 95vh;
    width: 100%;
    text-align: center;
}
.footer #heart{
    color: red;
}

#loginModal{
    z-index: 90;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}